name: Test Incoming Changes

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  lint:
    name: Run Linters and Vet
    runs-on: ubuntu-latest
    env:
      SHELL: /bin/bash

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: --timeout 10m0s

      - name: Run go vet
        run: go vet ./...

      - name: Run unit tests
        run: make test
